@import url('https://fonts.googleapis.com/css?family=Varela');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Vollkorn'); 


body {
    font-family: sans-serif;
}

.container{
	width:50%;
	margin:auto;
	border-radius:1vmin;
	text-align: center;
	border:1px solid gray;

}
.card{
	border:0.3vmin solid #c0c0c0;
	text-align:left;
	border-radius: 3vmin 0vmin 0vmin 3vmin;
	display:block;
	margin-bottom: 3vmin;
	background-color:#ececf9;
	padding:0vmin;
	display: flex;
}

img{
	border-radius: 3vmin 0vmin 0vmin 3vmin;
	width:35%;
	margin-bottom:0;
	display:inline-block;
}
h2{
	 font-family: 'Oswald', sans-serif;
	 padding-left:1vmin;
}
.content{
	max-width:60%;
	position:relative;
	padding:1vmin;
	margin-top:0;

}

